body {
  background-color: #35374B !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.panner{
  height: 100vh;
  background-image: linear-gradient(180deg, rgba(148, 1, 1, 0.73),rgba(53, 54, 74, 0.85) ), url('../public/123.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: 1px 0px 15px 10px #000;
  color: rgb(246, 246, 246);
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

.panner h1, h2{
  text-shadow: 8px 8px #35374B;
}

.panner h1{
  font-size: 70px;
}

.panner h2{
  font-size: 50px;
}

